* {
   margin: 0px;
   padding: 0px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    
}

.logo {
    position: fixed;
    top: 0;
    left: 0;
}

header {
    position: absolute;
    top: 0;
    left: 100px;
    width: 95%;
    height: 100px;
    background: #40362E;
    color: #f2dfce;
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 40px;
  }
  nav ul li {
    list-style: none;
    margin-right: 25px;
  }
  nav a {
    color: #f2dfce;
    text-decoration: none;
  }
  nav a:hover {
    text-decoration: underline;
  }
 .sous-titre1 {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    color:#40362e;
    top: 200px;
}

.titre1 {    
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    color:#40362e;
    top: 150px;
    
}

@media screen and (max-width: 1500px) {
    .bloc {
        width: 90%;
    }
}
body {
    max-width: 1600px;
    background-color: #f2d7ce;
    margin: 0;
}  
                   



  h3 {
                            color:#d9b79a;
                        }

                            a {
                                text-decoration: none;
                                color: #8C857D;
                            }

                            
                             
  
                                        button {
                                            padding : 7px 20px;
                                            border: 2px solid ;
                                            background-color: #40362E;
                                            outline: none;
                                            border-radius: 50px;
                                            border: 2px solid #d9b79a;
                                            position: absolute;
                                            left: 200px;
                                            top: 200px;
                                        }

                                            button a {
                                                color: #f2d7ce;
                                                font-size: 19px;
                                                text-decoration: none;
                                            }

                                                button :hover {
                                                    background-color:#8C857D;
                                                }

                                                    button :hover a {
                                                        color: #40362E;
                                                    }

                                                        #box {
                                                            position : fixed;
                                                            top : 250px;
                                                            bottom: 100px;
                                                            left: 300px;
                                                            color: #40362E;
                                                            background-color: rgb (140,133,125,0.5);
                                                            display: none;
                                                        }
                                                            
                                                            #box:target {
                                                                display: block;
                                                            }
                            

                                                                #modale a .lien{
                                                                    position : absolute;
                                                                    top: 35px;
                                                                    left: 10px;
                                                                    padding: 5px;
                                                                    width: 400px;
                                                                    max-width: 80%;
                                                                    color:#40362E;
                                                                }

                                                                    .images {
                                                                        position: absolute;
                                                                        top: 250px;
                                                                        left: 450px;
                                                                        
                                                                    }

                                                                    section{
                                                                        position: absolute;
                                                                        background-color:#40362e;
                                                                        padding: 10px;
                                                                        display: block;
                                                                        width: 900px;
                                                                        
                                                                        height: 250px;
                                                                        top: 330px;
                                                                        left: 430px;
                                                                        color:#d9b79a;
                                                                      }                                   
                                                                    

                                                                        footer  {
                                                                        width: 100%;
                                                                        height: 60px;
                                                                        left: 0px;
                                                                        position: absolute;
                                                                        bottom: auto;
                                                                        display: flex;
                                                                        justify-content:space-around;
                                                                        align-items: center;
                                                                        background-color: #40362E;
                                                                        color:#f2d7ce;
                                                                    }



                          